/* CSS RESET - do not remove */
/* Reset default browser styles and provide a consistent starting point */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: lighter;
}

/*  Set the font */
body {
  font-family: "Helvetica", sans-serif;
}

/* STYLES */
/* Write your CSS below */
.header{
  text-align: center;
  background-image: url('../images/apple-pie.jpg');
  height: 100vh;
  background-size: cover;
  display: flex;
  justify-items: center;
  justify-content: space-around;
  align-items: center;
}
.header h1{
  color:white;
  text-transform: capitalize;
  font-size: 60px;
  
}
section{
  text-align: center;
  margin: 40px auto;
  width: 80%;
  padding: 20px;
  border-bottom: 1px solid grey;
}

.intro p{
  font-size: 20px;
  padding: 12px;
  text-align: justify;
  
}

.intro img{
  margin: 0 auto;
}

ul {list-style: none;  
  text-align: left;
  font-size: 20px;
}

.ingredients h2, .directions h2{
  text-align: left;
  margin: 22px 0;
}
.directions{
  border:none
}
.directions ol{
  text-align: left;
  font-size: 20px;
}